* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    scroll-behavior: smooth;
    list-style: none;
}

:root {
    --bg-color: #fffdd1;
    --text-color: #222327;
    --main-color: rgb(255, 217, 49);
    --grey-trans: #666666c5;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Bree Serif', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
}

.header{
    background-color: var(--main-color);
    position: fixed;
    width: 100%;
    z-index: 1000;
    border-bottom: 2px solid var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .hero {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header .hero p {
    font-size: 50px;
}

.header .hero p span {
    font-size: 50px;
    font-style: italic;
    color: var(--bg-color);
    background-color: var(--main-color);
    text-shadow: 3px 3px var(--text-color)
}

.header .hero a img {
    height: 100px;
    margin: 10px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

.navbar a {
    color: var(--text-color);
}

.navbar button:hover {
    color: var(--bg-color);
    background-color: var(--text-color);
    transition: 0.50s all ease;
}

.navbar button {
    padding: 10px 20px;
    background-color: var(--bg-color);
    border: 4px solid var(--text-color);
    font-size: 20px;
}

.headTitle {
    padding-top: 140px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headTitle h1{
    text-align: center;
    font-size: 55px;
    text-shadow: 7px 7px 4px var(--main-color);
}

.headTitle h2 {
    padding-top: 25px;
    color: var(--grey-trans);
    font-size: 30px;
}

main {
    padding: 60px 0 50px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, var(--bg-color) 55%, var(--main-color) 100%);
}

article {
    flex-basis: 60%;
    flex-grow: 0;
    margin-left: 60px;
    padding-right: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.slider {
    display: none;
}

article .prev, .next {
    cursor: pointer;
  width: auto;
  padding: 20px;
  color: white;
  background-color: var(--grey-trans);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 5px 0 0 5px;
  user-select: none;
  height: 70px;
  margin-top: 300px;
}

article .next {
    right: 0;
    border-radius: 0 5px 5px 0;
}

.prev:hover, .next:hover {
    background-color: var(--text-color);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

article .testi-user{
    display: flex;
    flex-direction: row;
    align-items: center;
}

article .testi-user img {
    width: 45px;
}

article .user {
    margin-left: 10px;
    padding: 10px;
}

article img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 3px 3px 6px;
}

article p {
    margin-top: 20px;
    color: var(--grey-trans);
    font-size: 25px;
}
article .nama-user {
    font-size: 30px;
}

article .detail-user {
    font-size: 20px;
    font-style: italic;
    color: var(--grey-trans);
}

.form {
    background-color: var(--main-color);
    flex-basis: 40%;
    flex-grow: 0;
    margin-right: 60px;
    padding: 35px;
    border-radius: 5px;
    box-shadow: 3px 3px 6px;
}

.form h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.form h2 {
    font-size: 35px;
    color: var(--grey-trans);
    margin-bottom: 30px;
}

form label {
    font-size: 25px;
}

form input, select{
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border-radius: 5px;
    border: 2px solid var(--grey-trans);
    font-size: 25px;
}

form button {
    background-color: var(--text-color);
    color: var(--bg-color);
    width: 100%;
    padding: 30px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 25px;
}

select:required:invalid {
    color: #666;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: #000;
  }

.benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 40px 200px 40px;
    background: linear-gradient(to bottom, var(--main-color) 40%, var(--text-color) 100%);
}

.benefit h1 {
    font-size: 65px;
    font-style: italic;
    color: var(--bg-color);
    text-shadow: 6px 6px 6px var(--text-color);
    padding-bottom: 15px;
}

.benefit-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
    background-color: var(--bg-color);
    border-radius: 10px;
    font-size: 30px;
}

.benefit-list div {
    margin: 15px;
    padding: 10px;
    background-color: var(--main-color);
    border-radius: 10px;
    box-shadow: 3px 3px var(--grey-trans);
    text-shadow: 3px 3px var(--bg-color);
    font-size: 35px;
    flex: 1;
}

.benefit-list img {
    max-height: 50px;
}

#ourPackage-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--text-color);
}

.ourPackage-section h1 {
    background: var(--text-color);
    width: 100%;
    padding-top: 140px;
    padding-bottom: 80px;
    font-size: 80px;
    text-align: center;
    color: var(--bg-color);
    font-style: italic;
    text-shadow: 5px 5px 5px var(--main-color);
}

.ourPackage-section .package-list {
    display: flex;
    flex-direction: column;
}

.ourPackage-section .package-list .col-1 ul, .col-2 ul {
    display: flex;
    flex-direction: row;
    margin: 30px;
    border: 10px dotted var(--text-color);
}

.ourPackage-section .package-list .col-1 ul li, .col-2 ul li {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 45px;
    padding: 10px;
    background-color: var(--main-color);
    transition: all .50s ease;
}

.ourPackage-section .package-list .col-1 ul .li-2, .col-2 ul .li-2 {
    border-right: 10px dotted var(--text-color);
    border-left: 10px dotted var(--text-color);
}

.ourPackage-section .package-list .col-1 ul li:hover, .col-2 ul li:hover {
    background-color: var(--bg-color);
    transform: translateY(20px);
    color: var(--main-color);
}

.ourPackage-section .package-list .col-1 ul img , .col-2 ul img {
    width: 80px;
    margin-bottom: 20px;
}

.ourPackage-section .package-list .col-2 {
    padding-bottom: 100px;
}

.cta {
    padding-top: 100px;
    z-index: 9000;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 10px solid var(--grey-trans);
}

.cta h1 {
    font-size: 55px;
    margin-bottom: 20px;
    text-shadow: 4px 4px 6px var(--grey-trans);
}

.cta h2 {
    margin: 20px;
    text-align: center;
    color: var(--grey-trans);
}

.cta button {
    padding: 20px 60px;
    font-size: 25px;
    margin: 20px 0 80px;
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: 5px;
    box-shadow: 4px 4px 6px var(--grey-trans);
}

footer {
    text-align: center;
    padding: 50px;
    background-color: var(--text-color);
    width: 100%;
}

footer .socials a {
    margin: 10px;
}

footer .socials img {
    width: 50px;
}

footer .credit {
    font-size: 15px;
    color: var(--bg-color);
    text-align: end;
}

/* media queries */
@media (max-width: 1525px){
    html {
        font-size: 85%;
    }
}

@media (max-width: 1280px){
    html {
        font-size: 75%;
    }
}

@media (max-width: 1090px){
    html {
        font-size: 70%;
    }
}