*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}

:root {
    --bg-color: #fffdd1;
    --text-color: #222327;
    --main-color: rgb(255, 217, 49);
    --grey-trans: #666666c5;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    display: flex;
    flex-direction: column;
}

.header{
    background-color: var(--main-color);
    position: fixed;
    width: 100%;
    z-index: 1000;
    border-bottom: 2px solid var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header a img {
    height: 65px;
    margin: 10px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

.navbar a {
    color: var(--text-color);
}

.navbar button {
    padding: 5px 20px;
    background-color: var(--bg-color);
    border: 1px solid var(--grey-trans);
}

.headTitle {
    padding-top: 100px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headTitle h1{
    text-align: center;
    font-size: 35px;
}

.headTitle h2 {
    padding-top: 25px;
    color: var(--grey-trans)
}

main {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

article {
    flex-basis: 60%;
    flex-grow: 0;
    margin-left: 60px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article .testi-user{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 100px;
}

article .testi-user img {
    width: 36px;
    height: 36px;
}

article .user {
    margin-left: 10px;
    padding: 10px;
}

article img {
    max-width: 100%;
    border-radius: 5px;
}

article p {
    margin-top: 20px;
    color: var(--grey-trans);
}
article .nama-user {
    font-size: 20px;
    font-weight: bold;
}

article .detail-user {
    font-size: 15px;
    font-style: italic;
    color: var(--grey-trans);
}

.form {
    background-color: var(--main-color);
    flex-basis: 40%;
    flex-grow: 0;
    margin-right: 60px;
    padding: 35px;
    border-radius: 5px;
}

.form h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.form h2 {
    font-size: 20px;
    color: var(--grey-trans);
    margin-bottom: 30px;
}

form p {
    font-weight: bold;
}

form input, select{
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border-radius: 5px;
    border: 2px solid var(--grey-trans);
}

form button {
    background-color: var(--text-color);
    color: var(--bg-color);
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border-radius: 5px;
}

select:required:invalid {
    color: #666;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: #000;
  }


/* media queries */
@media screen and (max-width:1000px) {
    body {
        font-size: 75%;
    }
}